
latex/intro.log

*.pdf

latex/template.synctex.gz

*.log

*.blg

*.aux

.idea/

__pycache__/
trainset/

trainset

trash/

test.wav

latex/CartaPerali_Report.synctex.gz

latex/CartaPerali_Report.bbl

logs/

model/

test/

model.zip

test.zip

res/
